
*.7z
*.exe
*.ini
.tools/
dist/
bin/DEV.BAS
bin/errlog
bin/FOLDERS.CFG
bin/GAME82
bin/HELLO*
bin/accessible-boxscore.html
bin/accessible-narration.log
bin/BASK.*
bin/COLBBTMS.*
bin/TICKER
doc/*.odt
src/*.mp3
src/*.png
src/DEFAULT
src/DEV.BAS
src/errlog
src/EVENTS.BOX
src/FOLDERS.CFG
src/GAME82
src/pbplog
src/schedule
src/TICKER
